span {
    color: rgb(20, 20, 20);
    font-family: 'Roboto';
    font-weight: 500;
}

input {
    font-family: 'Roboto';
    font-weight: 400;
}

button {
    font-family: 'Roboto';
    font-weight: 400;
}

.width {
    width: 340px;
}

.flex {
    display: flex;
    justify-content: space-evenly;
}