<nav class="navbar navbar-expand-lg navbar-dark dark">
    <a class="navbar-brand" href="#">
        <img src="../../../../assets/logo.png" class="logo d-inline-block align-top" alt="">
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="home" routerLinkActive="active">Inicio</a>
            <a class="nav-item nav-link" routerLink="series" routerLinkActive="active">Series</a>
            <a class="nav-item nav-link" routerLink="films" routerLinkActive="active">Películas</a>
            <a class="nav-item nav-link" routerLink="news" routerLinkActive="active">Novedades</a>
        </div>
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" routerLink="admin" routerLinkActive="active">Admin</a>
        </div>
    </div>
</nav>